# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# --- BountyHunter Data (Keep it private!) ---
auth.log
wortliste_bounty.txt

# --- Reports ---
# Verhindert, dass gefundene Geheimnisse hochgeladen werden
report_bountyhunter.html
report_v6.html
*.html

# --- OS Specific ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --- IDE Config ---
.vscode/
.idea/
*.swp
*.swo
